html, body {
    background-color: aqua;
}

#j {
height:100px;
width: 130px;
background-color: lightcoral;
margin:4px, black;
display:list-item;
}

#c {
    font-size-adjust: 20px;
    color: black;
    text-align: center;
}

#cont {
    display:flex;
    flex-direction:row;
    justify-content:center;
}

#container {
    display:flex;
    flex-direction:row;
    justify-content:center;
    vertical-align:center;
}

.py {
    display:flex;
    flex-direction:column;
    margin:10px;
}

